.color-sample{    
    display:inline-block;
}
.color-sample .ColorSample{
    border: 1px solid black;
    padding:20px;
    font-family: 'Courier New', Courier, monospace;
}
.color-sample .ColorSample.selected{
    border-width:10px;
}
canvas {
    border: 1px solid black;
}

.ColorBars{
    margin-top: 10px;
}

.Strip{
    margin-right: 5px;
}
.Strip .selector{
    border: 1px solid black;
}
.ColorPicker .ColorBars {
    margin-top:0;
}

article{
    padding-bottom:20px;
    border-bottom: 1px solid #999;
    margin-bottom:50px;
}

.label{
    padding: 5px;
}