@import url("./ColorSample.module.css");
@import url("./ColorBars.module.css");

.ColorPicker .ColorSample{
    float:left;
    margin: 0  10px;
}
.ColorPicker .ColorBars{
    float:left;
}
.ColorPicker .strip {
    display: block;
    float: left;
    clear: left;
    margin-bottom:10px;
}